<!DOCTYPE html>
<html>
<head><title>Sign In</title></head>
<body>
  <h2>Sign In</h2>
  <form action="/signin" method="POST">
    <input name="email" placeholder="Email" required><br>
    <input name="password" type="password" placeholder="Password" required><br>
    <button type="submit">Sign In</button>
  </form>
  <a href="/signup">Don't have an account? Sign up</a>
</body>
</html>
